body {
    background-color: #332821; /* Dark Earthy Brown */
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    color: #f5dcaf;
}

table {
    border-collapse: collapse;
}

table#consonant_table {
    width: 900px;
}

table#vowel_table {
    width: 500px;
}

th, td {
    border: 1px solid #635d59; /* Dark Taupe border */
    background-color: #dcd6cf; /* Light Warm Grey background */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #5e564f; /* Olive Drab background for headers */
    color: #f5dcaf; /* White text for headers */
}

.navbar {
    background-color: #645649; /* Olive Drab for the navbar background */
    overflow: hidden;
    border: 10px solid #524030; /* Different color for the navbar border */
}

.navbar a {
    float: left;
    display: block;
    color: #f5dcaf; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #463529; /* Darker Olive Drab on hover */
    color: #f5dcaf;
}

.navbar a#active {
    background-color: #6d5b4b;
}

.navbar .right-item {
    float: right;
    display: block;
    color: #f5dcaf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
