body {
    background-color: #352f2b; /* Dark Earthy Brown */
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

table {
    border-collapse: collapse;
}

table#consonant_table {
    width: 900px;
}

table#vowel_table {
    width: 500px;
}

th, td {
    border: 1px solid #635d59; /* Dark Taupe border */
    background-color: #dcd6cf; /* Light Warm Grey background */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #5e564f; /* Olive Drab background for headers */
    color: #fff; /* White text for headers */
}

.navbar {
    background-color: #5e564f; /* Olive Drab for the navbar background */
    overflow: hidden;
    border-bottom: 10px solid #574a3e; /* Different color for the navbar border */
    border-top: 10px solid #574a3e; /* Different color for the navbar border */
    border-left: 10px solid #574a3e;
    border-right: 10px solid #574a3e;
}

.navbar a {
    float: left;
    display: block;
    color: #fff; /* White text for navbar links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #463f3a; /* Darker Olive Drab on hover */
    color: #fff;
}

.navbar .right-item {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
